<h1>Login </h1>

<form action="/sessions" method="post">
    <p>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" value="">

    </p>
    <input type="submit" />
</form>


<!-- The action is the most important -- where is this form submitting too via the post http request  -->
