<h1>Sign up </h1>

<form action="/users" method="post">
    <p>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" value="">
    </p>
    <p>
      <label for="password">password:</label>
      <input type="password" name="password" id="password" value="">
    </p>
    <input type="submit" />
</form>
